body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

#sudoku-board {
    display: grid;
    grid-template-columns: repeat(9, 40px);
    grid-template-rows: repeat(9, 40px);
    border: 5px solid black;
    border-collapse: collapse;
}

.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    box-sizing: border-box;
    border: 2px solid #000;
}

.cell:nth-child(3n) {
    border-right: 2px solid black;
}

.cell:nth-child(3n+1) {
    border-left: 2px solid black;
}

.cell:nth-of-type(n+19):nth-of-type(-n + 27), .cell::nth-of-type(n+46):nth-of-type(-n + 54) {
    border-bottom: 2px solid black; /* thick bottom border after every 3rd row */
}

.cell:nth-child(-n + 9) {
    border-top: 2px solid black;
}

button {
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
}
